 @if (notificationService.toast(); as toast) {
    <div class="toast-container position-fixed top-0 end-0 p-3" style="z-index: 2000">
      <div class="toast show align-items-center text-white border-0 shadow-lg" 
          [ngClass]="'bg-' + toast.type"
          role="alert" aria-live="assertive" aria-atomic="true">
        <div class="d-flex">
          <div class="toast-body fw-bold">
            {{ toast.message }}
          </div>
          <button type="button" class="btn-close btn-close-white me-2 m-auto" 
                  (click)="notificationService.clear()"></button>
        </div>
      </div>
    </div>
  }